/*html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}*/

body {
    color: #dddff1;
    font-family: -apple-system, BlinkMacSystemFont, "Varela Round", "Roboto", 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #0e0e11;
    background-image: url("assets/artefact1.svg");
    background-repeat: no-repeat;
}

#description {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 82em;
    margin: 7em auto auto;
}
@media (max-width: 82em) {

}
#description .description-box {
    flex: 1 0 0;
    flex-shrink: 0;
    margin: 3em 2.5em;
    min-width: 22em;
    max-width: 22em;
}
ion-icon {
    vertical-align: center;
    padding-right: 10px;
}

#description .description-box h1, #description .description-box .wrapper, #description .description-box ion-icon {transition: 0.35s;}
#description .description-box li, #description .description-box p {transition: 0.5s}
#description .description-box li {margin-bottom: 0.2em;}
#description .description-box ul {list-style-type: none; padding: 0;}

#description .description-box .benefit-number {color: #e07979;}
#description .description-box:hover li, #description .description-box:hover p {color: #bcbfd2}
#description .description-box:hover .wrapper {transform: translateY(-0.5em);}
#description .description-box:hover .wrapper #heart {color: #fd5151;}
#description .description-box:hover .wrapper #settings {color: #8d8c8c;}
#description .description-box:hover .wrapper #star {color: #ffe066;}

#description .description-box h1 {
    text-align: center;
    font-size: 1.8em;
    margin-bottom: 0;
    font-family: "Varela", sans-serif;
    display: inline;
    vertical-align: top;
}

/*#description .description-box .wrapper {
    display: table;
    margin: 0 auto;
}*/
#description .description-box p, #description .description-box li {
    font-size: 1.2em;
    line-height: 1.4em;
    color: #999ba0;
    text-align: justify;
}

#header {
    margin-bottom: 5em;
    text-align: center;
}
#header h1/*, #header span*/ {
    display: inline-block;
    font-size: 4.2em;
    font-weight: 500;
    margin-bottom: 0;
    font-family: "Varela", sans-serif;

    animation: flow 17s ease-in-out infinite;
    background: linear-gradient(-60deg, #3ce7ab, #904e95, #c25050, #f3a3a3);
    background: -webkit-linear-gradient(-60deg, #3ce7ab, #904e95, #c25050, #f3a3a3);
    background-size: 300%;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* If you wanted to separate the words. */
/*#header span {
    animation: flow 9s ease-in-out infinite;
    background: linear-gradient(-60deg, #3ce7ab, #904e95, #c25050, #f3a3a3);
    background: -webkit-linear-gradient(-60deg, #3ce7ab, #904e95, #c25050, #f3a3a3);
    background-size: 300%;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}*/

@keyframes flow {
    0% {background-position: 0 50%;}
    50% {background-position: 100% 50%}
    100% {background-position: 0% 50%}
}

#header h2 {
    font-size: 1.2em;
    font-family: 'Segoe UI', sans-serif;
    font-weight: 390;
    font-style: italic;
    margin-top: 2.5em;
    color: #bebec4;
}
#header #header-title-icon-div {
    margin-top: 5em;
}
#header img {
    width: 6em;
    margin-top: 2em;
    opacity: 0.85;
}

/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #0a0a0a;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #534f4f;
    border-radius: 1em;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #626262;
}

.bouncy {
    animation:bouncy 5s infinite linear;
    position:relative;
}

.unselectable {
     -webkit-touch-callout: none;
     -webkit-user-select: none;
     -khtml-user-select: none;
     -webkit-user-drag: none;
     -moz-user-select: none;
     -ms-user-select: none;
     -o-user-select: none;
     user-select: none;
     user-drag: none;
 }

@keyframes bouncy {
    0%{top:0em}
    40%{top:0em}
    43%{top:-0.9em}
    46%{top:0em}
    48%{top:-0.4em}
    50%{top:0em}
    100%{top:0em;}
}

.button1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}
.button1 a {
    width: 100%;
    max-width: 240px;
    height: 54px;
    padding: 8px;
    font-size: 0.8rem;
    font-weight: 900;
    color: #ff4655;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    box-shadow: 0 0 0 1px inset rgba(236, 232, 225, 0.3);
    position: relative;
    margin: 10px 0;
}
.button1 a.white:hover > p {
    color: #ece8e1;
}
.button1 a.white > p {
    background: #ece8e1;
    color: #0f1923;
}
.button1 a.white > p span.base {
    border: 1px solid transparent;
}
.button1 a.transparent:hover > p {
    color: #ece8e1;
}
.button1 a.transparent:hover > p span.text {
    box-shadow: 0 0 0 1px #ece8e1;
}
.button1 a.transparent > p {
    background: #0f1923;
    color: #ece8e1;
}
.button1 a.transparent > p span.base {
    border: 1px solid #ece8e1;
}
.button1 a:after, .button1 a:before {
    content: "";
    width: 1px;
    position: absolute;
    height: 8px;
    background: #0f1923;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
.button1 a:before {
    right: 0;
    left: initial;
}
.button1 a p {
    margin: 0;
    height: 54px;
    line-height: 54px;
    box-sizing: border-box;
    z-index: 1;
    left: 0;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.button1 a p span.base {
    box-sizing: border-box;
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    left: 0;
    border: 1px solid #ff4655;
}
.button1 a p span.base:before {
    content: "";
    width: 2px;
    height: 2px;
    left: -1px;
    top: -1px;
    background: #0f1923;
    position: absolute;
    transition: 0.3s ease-out all;
}
.button1 a p span.bg {
    left: -5%;
    position: absolute;
    background: #ff4655;
    width: 0;
    height: 100%;
    z-index: 3;
    transition: 0.3s ease-out all;
    transform: skewX(-10deg);
}
.button1 a p span.text {
    z-index: 4;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    font-size: 1.2em;
}
.button1 a p span.text:after {
    content: "";
    width: 4px;
    height: 4px;
    right: 0;
    bottom: 0;
    background: #0f1923;
    position: absolute;
    transition: 0.3s ease-out all;
    z-index: 5;
}
.button1 a:hover {
    color: #ece8e1;
}
.button1 a:hover span.bg {
    width: 110%;
}
.button1 a:hover span.text:after {
    background: #ece8e1;
}

footer {
    margin-top: 10em;
    text-align: center;
    width: 100%;
    color: #898992;
    display: flex;
    flex-direction: column;
}
footer #bottom .bottom-icon ion-icon {
    padding: 0.11em 0.41em;
    color: #a5a5a5;
    zoom: 1.11;
    transition: color 0.11s;
}
footer #bottom .bottom-icon:hover ion-icon {
    color: #e8e9f5;
}
footer #bottom #copyright {
    color: #777780;
    font-size: 0.9em;
    margin-bottom: 6px;
}

.horizontal-line {
    border-bottom: 1px solid #ffffff;
    /*border-top: 1px solid #ffffff;*/
    opacity: 0.2;
    border-radius: 3em;
    width: 80%;
    margin: auto;
    height: 0px;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: auto;
    background-color: rgba(40, 43, 49, 0.1);
    color: #d3d5de;
    text-align: center;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -5.7em;
    opacity: 0;
    transition: opacity 0.4s;
    padding: 3px 11px;
    width: 10em;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 0.8;
}

.artefact {
    position: absolute;
    z-index: -1;
}

#artefact2 {
    filter: invert(15%);
}