/*html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}*/

body {
    color: #dddff1;
    font-family: -apple-system, BlinkMacSystemFont, "Varela Round", "Roboto", 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #0e0e11;
    background-image: url("assets/artefact1.svg");
    background-repeat: no-repeat;
    overflow-x: hidden;
    -ms-overflow-x: hidden;
    max-width: 82em;
    margin: auto;
}

#description {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    border-bottom: 1px #29292f solid;
    padding-bottom: 3em;
}

#description .description-box {
    flex: 1 0 0;
    margin: 3em 2.5em;
    min-width: 22em;
    max-width: 22em;
    /*transition: transform 0.4s;*/
}

ion-icon {
    vertical-align: center;
    padding-right: 10px;
}

#description .description-box h1, #description .description-box .description-box-icon-title-wrapper, #description .description-box ion-icon {transition: 0.35s;}
#description .description-box li, #description .description-box p {transition: 0.5s}
#description .description-box li {margin-bottom: 0.2em;}
#description .description-box ul {list-style-type: none; padding: 0;}

#description .description-box .benefit-number {color: #e07979;}
/* We would normally use transform: scale(), but that glitches the text, so this is a workaround.*/
/*#description .description-box:hover {transform: perspective(15px) translateZ(1px);}*/
#description .description-box:hover li, #description .description-box:hover p {color: #bcbfd2}
#description .description-box:hover .description-box-icon-title-wrapper {transform: translateY(-0.5em);}
#description .description-box:hover .description-box-icon-title-wrapper #heart {color: #fd5151;}
#description .description-box:hover .description-box-icon-title-wrapper #settings {color: #8d8c8c;}
#description .description-box:hover .description-box-icon-title-wrapper #star {color: #ffe066;}

#description .description-box h1 {
    text-align: center;
    font-size: 1.8em;
    margin-bottom: 0;
    font-family: "Varela", sans-serif;
    display: inline;
    vertical-align: top;
}

/*#description .description-box .wrapper {
    display: table;
    margin: 0 auto;
}*/
#description .description-box p, #description .description-box li {
    font-size: 1.2em;
    line-height: 1.4em;
    color: #999ba0;
    text-align: justify;
}

#header {
    margin-bottom: 5em;
    text-align: center;
}
#header h1/*, #header span*/ {
    display: inline-block;
    font-size: 4.2em;
    font-weight: 500;
    margin-bottom: 0;
    font-family: "Varela", sans-serif;

    animation: flow 11s ease-in-out infinite;
    background: linear-gradient(-60deg, #33cbad, #904e95, #c25050, #4e51ff);
    background: -webkit-linear-gradient(-60deg, #33cbad, #904e95, #c25050, #4e51ff);
    background-size: 300%;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* If you wanted to separate the words. */
/*#header span {
    animation: flow 9s ease-in-out infinite;
    background: linear-gradient(-60deg, #3ce7ab, #904e95, #c25050, #f3a3a3);
    background: -webkit-linear-gradient(-60deg, #3ce7ab, #904e95, #c25050, #f3a3a3);
    background-size: 300%;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}*/

@keyframes flow {
    /* It would normally be 0%, 100%, 0%, but we substract a few percent because otherwise the start and stop is too long */
    0%   {background-position: 5% 50%}
    50%  {background-position: 95% 50%}
    100% {background-position: 5% 50%}
}

#header h2 {
    font-size: 1.2em;
    font-family: 'Segoe UI', sans-serif;
    font-weight: 390;
    font-style: italic;
    margin-top: 2.5em;
    color: #bebec4;
}
#header #header-title-icon-div {
    margin-top: 5em;
}
#header img {
    width: 6em;
    margin-top: 2em;
    opacity: 0;
    animation: fadein forwards 4s 1s;
}

@keyframes fadein {
    0% {opacity: 0}
    100% {opacity: 0.85}
}

/* width */
::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #534f4f;
    border-radius: 1em;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #626262;
}

.bouncy {
    animation:bouncy 5s infinite linear;
    position:relative;
}

.unselectable {
     -webkit-touch-callout: none;
     -webkit-user-select: none;
     -webkit-user-drag: none;
     -moz-user-select: none;
     -ms-user-select: none;
     -o-user-select: none;
     user-select: none;
     user-drag: none;
 }

@keyframes bouncy {
    0%{top:0}
    40%{top:0}
    43%{top:-0.9em}
    46%{top:0}
    48%{top:-0.4em}
    50%{top:0}
    100%{top:0}
}

#download-section {
    margin-right: 3em;
    width: 45%;
    border-left: 2px solid #c75454;
    padding-left: 1em;
    /*border-radius: 1em;*/
    font-size: 1.2em;
    flex-grow:9999;
    margin-top: 2em;
}

#download-section-app-screenshots-wrapper {
    display: flex;
    flex-wrap: wrap;
    /*margin: 0 3em;*/
    margin-top: 3em;
    padding: 0 2em;
}

#app-screenshots {
    margin-top: 3em;
    margin-left: auto;
    justify-content: center;
    flex-grow: 1;
}

#app-screenshots-inner-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

@media only screen and (max-width: 700px) {
    #download-section {justify-content: center; margin: 0;}
    #download-button {margin-right: 0 !important;}
    #download-button-container {margin: 0 auto;}
    #paypal-button-container {margin-left: auto; margin-right: auto}
}

#app-screenshots img {
    width: 15.7em;
    margin-bottom: 3em;
    /*border: 1px #4f219a solid;*/
    margin-right: 1em;
    margin-left: 1em;
}

#download_section_buttons {
    justify-content: left;
    display: flex;
    flex-wrap: wrap;
}

.download-section-button {
    margin-top: 3em;
}

#paypal-button-container {
    width: 13em;
}

#download-button {
    margin-right: 2em;
    width: 5em;
    background-color: #db3a3a;
    color: #00081a;
    font-size: 1.1em;
    font-weight: bold;
    border: 0;
    border-radius: 4px;
    margin-left: auto;
}

#download-button:hover {
    background-color: #b32a2a;
}

.button {
    color: white;
    border: 1px solid white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 1em 3em;
}

footer {
    margin-top: 10em;
    text-align: center;
    width: 100%;
    color: #898992;
    display: flex;
    flex-direction: column;
}
footer #bottom .bottom-icon ion-icon {
    padding: 0.11em 0.41em;
    color: #a5a5a5;
    transform: scale(1.11);
}
footer #bottom .bottom-icon:hover ion-icon {
    color: #e8e9f5;
}
footer #bottom #copyright {
    color: #777780;
    font-size: 0.9em;
    margin-bottom: 6px;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    background-color: rgba(40, 43, 49, 0.1);
    color: #d3d5de;
    text-align: center;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -5.7em;
    opacity: 0;
    transition: opacity 0.4s;
    padding: 3px 11px;
    width: 10em;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 0.8;
}

.artefact {
    position: absolute;
    z-index: -1;
}

#artefact2 {
    filter: invert(15%);
}